<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>Label</key>
<string>com.darrenbuse.vagrant</string>
<key>EnvironmentVariables</key>
    <dict>
           <key>VAGRANT_HOME</key>
           <string>/Users/darrenbuse/.vagrant.d</string>
           <key>HOME</key>
           <string>/Users/darrenbuse/</string>
    </dict>
 <key>StandardOutPath</key>
 <string>/var/log/vagrant/vagrant-boot.log</string>
 <key>StandardErrorPath</key>
 <string>/var/log/vagrant/vagrant-boot.err</string>
 <key>EnableGlobbing</key>
 <true/>
 <key>ProgramArguments</key>
 <array>
 <string>/usr/bin/vagrant</string>
 <string>up</string>
 </array>
 <key>RunAtLoad</key>
 <true/>
 <key>KeepAlive</key>
 <false/>
 <key>WorkingDirectory</key>
 <string>/Users/darrenbuse/Projects/home/stacks/dilbert-vagrant</string>
 <key>UserName</key>
 <string>darrenbuse</string>
</dict>
</plist>
